<header>
  <nav class="navbar navbar-light" style="background-color: #ecf0f1">
    <ul class="nav justify-content-center mx-auto">
      <li class="nav-item">
        <a class="navbar-title px-3" href="/runners">Registered</a>
      </li>
      <li class="nav-item">
        <a class="navbar-title px-3" href="/runners/signup">Sign Up</a>
      </li>
    </ul>
  </nav>
</header>
